<html lang="en" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    
    <title style="box-sizing: border-box; font-family: 'Quicksand', Helvetica, Arial, sans-serif;">sylvest</title>
</head>
<body style="box-sizing: border-box; color: white; padding: 20px; -webkit-text-size-adjust: 100%; background: linear-gradient(270deg, rgba(115,60,230,1) 35%, rgba(158,120,237,1) 100%);">
    <a href="https://www.thesylvest.com" style="box-sizing: border-box;text-decoration: none;">
        <div class="navigation" style="box-sizing: border-box;text-align: center; margin-left:10px ;margin-top: 50px;margin-bottom: 50px;">
            <h1 class="main-title" style="box-sizing: border-box;margin-top: .5rem;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: calc(1.375rem + 1.5vw); color: white; font-family: 'Quicksand', Helvetica, Arial, sans-serif;"> sylvest </h1>
        </div>
    </a>
    <p class="paragraph-text" style="box-sizing: border-box;color: white; padding: 1rem; font-family: Helvetica, Arial, sans-serif;">
        You're receiving this e-mail because you requested a password reset for your user account at Sylvest.
        <br><br>
        Please go to the following page and choose a new password:<br>
        {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
        <br><br><br>
        Your username, in case you've forgotten: <strong>{{ user.username }}</strong>
        <br><br>
        Thanks for using our site!
        <br><br>
        The Sylvest team
    </p>
</body>
</html>